@{
    ViewData["Title"] = "Danh sach";
}

<!-- Start Content -->
<div id="content" class="section-padding">
    <div class="container">
        <div class="property-details">
            <div class="row">
                <h4>Phòng trọ 346 Mỹ An đầy đủ nội thất an ninh 24/24 </h4>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <div class="info">
                        @* <h3>Phòng trọ 346 Mỹ An đầy đủ nội thất an ninh 24/24 <span class="badge">sale</span></h3> *@
                        <div class="label-inner">
                            <span class="label-status label">Đang cho thuê</span>
                        </div>
                        <p class="address"><i class="lni-map-marker"></i> Mỹ An, Ngũ Hành Sơn, Đà Nẵng</p>
                    </div>
                </div>
               @*  <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="details">
                        <div class="details-listing">
                            <p>Bedrooms</p>
                            <h5>05</h5>
                        </div>
                        <div class="details-listing">
                            <p>Washrooms</p>
                            <h5>06</h5>
                        </div>
                        <div class="details-listing">
                            <p>Size (Sq.ft)</p>
                            <h5>1650</h5>
                        </div>
                    </div>
                </div> *@
                <div class="col-lg-4 col-md-12 col-xs-12">
                    <div class="others">
                        <ul>
                            <li><span>2.200.000</span></li>
                           @*  <li><a href="#"><i class="lni-bookmark-alt"></i></a></li> *@
                            <li><a href="#"><i class="lni-heart"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Product Info Start -->
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="property-slider">
                    <div id="property-slider" class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="~/assets/img/productinfo/post1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/assets/img/productinfo/img2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/assets/img/productinfo/img3.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="inner-box property-dsc">
                    <h2 class="desc-title">Thông tin chi tiết</h2>
                    <p>
                        Cho thuê phòng trọ điều hòa, máy giặt tại K267 Ngô Quyền , Sơn Trà, Đà Nẵng.
                        Phòng rộng dãi điều hòa, máy giặt chung, thoáng mát. Vệ sinh khép kín, kho để đồ. Có sân thượng tập thể dục, khu phơi đồ thoải mái, máy giặt chung
                        Ra biển 200m, ra đường Ngô Quyền 100m, gần chợ Mân Thái, chợ chiều, gần trường cấp 1,2,3 và bệnh viện.
                        Khu vực an ninh tốt, yên tĩnh, có camera quan sát.
                        Miễn phí wifi, giờ giấc tự do.
                        Lối đi riêng.
                        Chủ nhà thân thiện, vui tính.
                        Điện 3k, nước 40k/1 người
                        Giá: 2tr200 đến 2tr5
                    </p>
                </div>

            </div>

            <!--Sidebar-->
            <aside id="sidebar" class="col-lg-4 col-md-12 col-xs-12 right-sidebar">
                <!-- Property Agent Widget -->
                <div class="widget mt3">
                    <div class="agent-inner">
                        <div class="agent-title">
                            <div class="agent-photo">
                                <a href="#"><img src="~/assets/img/avatar/default.jpg" alt="Avatar"></a>
                            </div>
                            <div class="agent-details">
                                <h3><a href="#">Quân Phan</a></h3>
                                <span><i class="lni-phone-handset"></i>03678499588</span>
                                <span><i class="lni-phone-handset"></i>quan@gmail.com</span>
                            </div>
                        </div>
                        @* <input type="text" class="form-control" placeholder="Your Email">
                        <input type="text" class="form-control" placeholder="Your Phone">
                        <p>I'm interested in this property [ID 123456] and I'd like to know more details.</p> *@
                        <button class="btn btn-common fullwidth mt-4">Lưu thông tin</button>
                    </div>
                </div>

            </aside>
            <!--End sidebar-->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="desc-title">Bài đăng tương tự</h2>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid" src="~/assets/img/property/house-1.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label">Đang cho thuê</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Phòng trọ điều hòa thoáng mát tại 267 Ngô Quyền, Đà Nẵng</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i>Phường Mân Thái, Quận Sơn Trà, Đà Nẵng</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>2.300.000/tháng</span>
                                    </div>
                                    <p>Đã đăng 5 ngày trước</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid" src="~/assets/img/property/house-2.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label">Đang cho thuê</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Phòng ở riêng biệt gần Vincom, cầu Sông Hàn</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i> An Hải Tây, Quận Sơn Trà, Đà Nẵng</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>2.700.000/tháng</span>
                                    </div>
                                    <p>Đã đăng 2 ngày trước</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="property-main">
                    <div class="property-wrap">
                        <div class="property-item">
                            <div class="item-thumb">
                                <a class="hover-effect" href="property.html">
                                    <img class="img-fluid" src="~/assets/img/property/house-3.jpg" alt="">
                                </a>
                                <div class="label-inner">
                                    <span class="label-status label">Đang cho thuê</span>
                                </div>
                            </div>
                            <div class="item-body">
                                <h3 class="property-title"><a href="property.html">Phòng trọ giá rẻ quận Sơn Trà gần TTTP</a></h3>
                                <div class="adderess"><i class="lni-map-marker"></i> Nại Hiên Đông, Quận Sơn Trà, Đà Nẵng</div>
                                <div class="pricin-list">
                                    <div class="property-price">
                                        <span>$1.500.000/tháng</span>
                                    </div>
                                    <p>Đã đăng 2 ngày trước</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Content -->    